In [12]:
import json
import pandas as pd
import csv

# Open and load JSON data line by line
import json
import pandas as pd
with open('News_Category_Dataset_v3.json', 'r') as f:
    json_data = f.read()
json_data2 = [json.loads(line) for line in json_data.split('\n') if line]

# Convert to DataFrame
data = pd.DataFrame.from_records(json_data2)

# Check for missing values or any issues
print(data.info())  # This will show column names and the count of non-null values

# Remove any unwanted columns (if necessary)
data_cleaned = data.dropna(subset=['headline', 'category'])

# Save cleaned data to a CSV file using the csv module for custom line terminator
with open('cleaned_news_data.csv', mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    writer.writerow(data_cleaned.columns)  # Write header row
    for row in data_cleaned.values:
        writer.writerow(row)

print("CSV file saved with custom line terminator handling.")
data_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209527 entries, 0 to 209526
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   link               209527 non-null  object
 1   headline           209527 non-null  object
 2   category           209527 non-null  object
 3   short_description  209527 non-null  object
 4   authors            209527 non-null  object
 5   date               209527 non-null  object
dtypes: object(6)
memory usage: 9.6+ MB
None
CSV file saved with custom line terminator handling.

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [2]:
# Display unique categories
unique_categories = data['category'].unique()
print("Unique categories in the dataset:", unique_categories)

Unique categories in the dataset: ['U.S. NEWS' 'COMEDY' 'PARENTING' 'WORLD NEWS' 'CULTURE & ARTS' 'TECH'
 'SPORTS' 'ENTERTAINMENT' 'POLITICS' 'WEIRD NEWS' 'ENVIRONMENT'
 'EDUCATION' 'CRIME' 'SCIENCE' 'WELLNESS' 'BUSINESS' 'STYLE & BEAUTY'
 'FOOD & DRINK' 'MEDIA' 'QUEER VOICES' 'HOME & LIVING' 'WOMEN'
 'BLACK VOICES' 'TRAVEL' 'MONEY' 'RELIGION' 'LATINO VOICES' 'IMPACT'
 'WEDDINGS' 'COLLEGE' 'PARENTS' 'ARTS & CULTURE' 'STYLE' 'GREEN' 'TASTE'
 'HEALTHY LIVING' 'THE WORLDPOST' 'GOOD NEWS' 'WORLDPOST' 'FIFTY' 'ARTS'
 'DIVORCE']

In [4]:
null_values = data.isnull().sum()

# Print the count of null values for each column
print("Null values in each column:")
print(null_values)

Null values in each column:
link                 0
headline             0
category             0
short_description    0
authors              0
date                 0
dtype: int64

In [3]:
data.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [5]:
data.to_csv('cleaned_dataset.csv', index=False)  # 'index=False' prevents pandas from writing row indices

In [6]:
import random

# Randomly select 15 categories
random_categories = random.sample(list(unique_categories), 15)
print("Randomly selected categories:", random_categories)

Randomly selected categories: ['BUSINESS', 'TASTE', 'COLLEGE', 'HEALTHY LIVING', 'FOOD & DRINK', 'ARTS', 'HOME & LIVING', 'GOOD NEWS', 'ARTS & CULTURE', 'MONEY', 'WEIRD NEWS', 'GREEN', 'PARENTING', 'DIVORCE', 'CULTURE & ARTS']

In [7]:
# Display unique categories and randomly select 15
unique_categories = data['category'].unique()
random_categories = random.sample(list(unique_categories), 15)
print("Randomly selected categories:", random_categories)

Randomly selected categories: ['GOOD NEWS', 'RELIGION', 'WORLDPOST', 'WELLNESS', 'WEDDINGS', 'COMEDY', 'LATINO VOICES', 'FIFTY', 'CRIME', 'HOME & LIVING', 'PARENTING', 'SPORTS', 'FOOD & DRINK', 'QUEER VOICES', 'MEDIA']

In [11]:
# Filter dataset to include only the selected categories
filtered_data = data[data['category'].isin(random_categories)]

# Pick 10 headlines for each category
final_data = filtered_data.groupby('category').head(10)

In [12]:
# Drop the 'short_description' and 'authors' columns
final_data = final_data.drop(columns=['short_description', 'authors'])

# Save the final dataset to JSON
output_file = 'final_news_category_data.json'
final_data.to_json(output_file, orient='records', lines=True)

print(f"Final dataset with selected categories and headlines saved to {output_file}")

Final dataset with selected categories and headlines saved to final_news_category_data.json

In [15]:
final_data.head()

,link,headline,category,date
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,2022-09-23
17,https://www.huffpost.com/entry/dodgers-basebal...,"Maury Wills, Base-Stealing Shortstop For Dodge...",SPORTS,2022-09-20
26,https://www.huffpost.com/entry/2022-wnba-final...,"Las Vegas Aces Win First WNBA Title, Chelsea G...",SPORTS,2022-09-19
61,https://www.huffpost.com/entry/boston-marathon...,Boston Marathon To Make Race More Inclusive Fo...,SPORTS,2022-09-12

In [18]:
import json
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient('mongodb://localhost:27017/')  # Replace with your MongoDB URI
db = client['News_recommender']  # Use your database name
collection = db['articles']  # Use your collection name

# Read the JSON file line-by-line and load data into a list
data = []
with open('final_news_category_data.json', 'r') as file:
    for line in file:
        data.append(json.loads(line))  # Parse each line and append to the data list

# Insert the data into the MongoDB collection
try:
    if data:  # Check if the list is not empty
        result = collection.insert_many(data)
        print(f"Successfully inserted {len(result.inserted_ids)} documents into MongoDB.")
    else:
        print("No data to insert.")
except Exception as e:
    print(f"Error inserting data into MongoDB: {e}")

Successfully inserted 150 documents into MongoDB.